<body>
    <a method="POST" href="/listCountries">List Countries</a><br>
    <a method="POST" href="/listCities">List Cities</a><br>
    <a method="POST" href="/listHeads">List Heads of State</a>
</body>